.h2 {
    align-self: center;
}

.partners {
    display: flex;
    flex-direction: column;
    margin: 0 120px;
    gap: 40px;
}

.container {
    display: flex;
    justify-content: space-between;
}