header {
display: flex;
margin: 44px 120px 27px;
align-items: center;
justify-content: space-between;
}

.nav {
    display: flex;
}

.ul {
    display: flex;
    gap: 50px;
}

.li {
    font-family: "DM Sans";
    list-style: none;
    color: #161616;
    font-size: 16px;
}

.icons {
    display: flex;
    gap: 30px;
}