.all_furniture {
    display: flex;
    flex-direction: column;
    margin: 140px 120px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 80px;
}

.ul {
    display: flex;
    list-style: none;
    font-family: "DM Sans";
    justify-content: space-evenly;
}

.active {
    color: #154444;
    font-weight: 500;
    text-decoration-line: underline;
} 

.unactive {
    color: #919090;
}

.h2 {
    align-self: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    display: flex;
    gap: 33px;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 700px;
}

.button {
    height: 90px;
    width: 222px;
    border: 1px solid #D9DCE5;
    color: #808080;
    font-family: "DM Sans";
    font-size: 16px;
    background-color: white;
    gap: 14px;
}

.button1 {
    height: 90px;
    width: 222px;
    background-color: #154444;
    border: none;
    font-family: "DM Sans";
    color: white;
    font-size: 16px;
    gap: 14px;
}