* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: #154444;
  font-size: 32px;
  font-family: "Montserrat";
  line-height: 48px;
}

h3 {
  color: #154444;
  font-size: 20px;
  font-family: "Montserrat";
}

h4 {
  font-size: 20px;
  color: #242424;
  font-family: "DM Sans";
  font-weight: 500;
}

h5 {
  color: white;
  font-size: 20px;
  font-family: "Montserrat";

}