.subscribe {
    background-color: #F4F6F6;
    margin: 0 120px 140px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p {
    color: #222222;
    font-family: "DM Sans";
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0 40px;
    max-width: 30vw;
    text-align: center;
}

.form {
    background-color: white;
    padding: 7px 19px;
    align-items: center;
    display: flex;
}

.button {
    background-color: #305F64;
    color: white;
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 16px;
    padding: 15px 33px;
    font-weight: 400;
}

.input {
    font-size: 16px;
    color: #BABABA;
    font-family: "DM Sans";
    font-weight: 400;
    border: none;
    margin-left: 12px;
}

.h2 {
    max-width: 40vw;
    text-align: center;
}