.about_us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 140px 120px;
}

.p {
    color: #444444;
    font-family: "DM Sans";
    font-size: 20px;
}

.little_text {
    color: #444444;
    font-family: "DM Sans";
    font-size: 18px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.container {
    display: flex;
    align-items: top;
    gap: 30px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 30vw;
}

.zagolovok {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}